.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/stock-app/
# macOSの隠しファイルを無視
.DS_Store
**/*.DS_Store
/frontend/public/assets/images/stock_logo/**
backend/app/scripts/logo_downloader.py
