.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-child {
    margin-top: 80px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    width: 100%;
}